body {
  font-family: Source Sans Pro, athelas, georgia, sans-serif;
}

tbody {
  border: none !important;
}
tr {
  border: none !important;
}

td {
  border: none !important;
}

select {
  color: rgb(63, 61, 75);
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: initial;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
  height: auto;
  color: #3F3D4B;
  background-color: #fff;
  font-size: 1rem;
  font-family: inherit;
  padding: 16px;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

input[type="checkbox"] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  height: 1.2rem;
  width: 1.2rem;
}

span {
  font-weight: 600!important;
  font-family: Source Sans Pro, athelas, georgia, sans-serif!important;
  font-size: 14px!important;
}
